# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.eggs/
.pytest_cache/

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter
.ipynb_checkpoints/

# Logs / crash dumps
*.log
hs_err_pid*.log

# OS
.DS_Store
